<div class="slide">
    @if (images().length > 0) {
        <div class="image-container">
            <img src={{images()[imageIndex].imageData}} alt="image should be here">
        </div>

        <div class="controls">
            <span (click)="previous()" class="arrow left"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></span>
            <span (click)="next()" class="arrow right"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            
            <ul>
                @for (image of images(); let clickedIndex = $index; track image;) {
                    <li (click)="jump(clickedIndex)" [ngClass]="imageIndex === clickedIndex? 'selected': ''"></li>
                }
            </ul>
        
        </div>

    } @else {
        <p class="no-images">image not provided</p>
    }
</div>