@if(this.store.lastPage() > 1){
    <div class="pagination-container">
        <span><i class="fa fa-chevron-left" (click)="previousPage()"></i></span>
        
        <ul class="page-list">
            @for (pageNum of this.store.pageList(); track pageNum) {
                <li>
                    <div 
                    [ngStyle]="{'background-color': pageNum === this.store.page().index ? 'rgb(5, 86, 152)':'', 
                    'color': pageNum === this.store.page().index ? 'white':'black'}" class="page"
                    (click)="this.store.setPage(pageNum)">{{pageNum}}</div>
                </li>
            }
        </ul>

        <span><i class="fa fa-chevron-right" (click)="nextPage()"></i></span>
    </div>
}