@if(store.ask(); as askingBid) {
    <div class="bidder-grid">
        <div class="item-container card">
            <div class="countdown-container">
                <app-end-countdown [start]="auction.start"></app-end-countdown>
            </div>
            <app-carousel [images]="item.ImageModels"></app-carousel>
        </div>
        <div class="bid-container card">
            <h2>{{auction.ItemModel.title}}</h2>
            <h2>Bidder: {{askingBid.bidder?.username}}</h2>
            @if(askingBid.isFinal) {
                <h2>Auction Is Over</h2>
                <h2>Highest Bid: {{askingBid.reachedValue}}</h2>
            } @else {
                <app-auction-bidding-form [askingBid]="askingBid.askValue" (bid)="store.setBid($event)"></app-auction-bidding-form>
                <h2>{{store.bidRejection()}}</h2>
            }
        </div>
    </div>
}
@if (store.error(); as error) {
    <app-error [error]="error"></app-error>
}