<div class="auction-details-container">
    <div class="slider">
        <app-carousel [images]="auction.ItemModel.ImageModels"></app-carousel>
    </div>
    <div class="info">
        <h2>{{auction.ItemModel.title}}</h2>
        <p>{{auction.start.toLocaleString()}}</p>
        @if (auction.status === upcoming) {
            <hr>
            <app-start-countdown [start]="auction.start" (countDownFinished)="onCountDownFinished()"></app-start-countdown>
            <hr>
        }
        <p>Starting bid: {{auction.startingBid}}</p>
        @if(auction.status === started) {
            <button (click)="enterAuction()">Enter</button>
        }
        @else if(auction.lastBid) {
            <p>Last bid: {{ auction.lastBid }}</p>
        }
    </div>
    <div class="description">
        <p>{{auction.ItemModel.description}}</p>
    </div>
</div>