.schedule-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    max-width: 800px;
    margin: auto;
}
.date-picker {
    box-shadow: var(--card-shadow);
    padding: 0.5rem;
}

.hour-starting-bid {
    box-shadow: var(--card-shadow);
    display: grid;
    grid-template-rows: 6vh 20vh 16vh 14vh;
    row-gap: 1rem;
    text-align: center;
    padding: 1rem;
}

.hour-picker {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .schedule-container {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}