<div class="bidder-grid">

    <div class="hour-starting-bid card">
      
        <div class="slider card">
            <app-carousel [images]="item.ImageModels"></app-carousel>
        </div>

        <div class="hour-picker">
            <a (click)="previousHour()">
                <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            </a>

            <h1>{{ this.selectedHour }}:00</h1>

            <a (click)="nextHour()">
                <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </a>
        </div>

        <div class="form-container">

            <form [formGroup] = "startingBidForm" (ngSubmit) = "create()">
                <div>
                    <label for="startingBid">Starting bid:</label>
                    <input type="number" placeholder='startingBid' formControlName="startingBid">
                    @if (startingBidForm.get('startingBid')?.hasError('min')) {
                        <small> minimum starting bid is 0</small>
                    }
                    @if (startingBidForm.get('startingBid')?.hasError('max')) {
                        <small> starting bid must not be higher than item's price: {{item.price}}</small>
                    }
                </div>

                <div>
                    <button type="submit" class="scheduleBtn" [ngStyle]="{'background-color': !startingBidForm.valid ? 'grey': ''}">schedule</button>
                </div>

                @if (error) {
                    <app-error [error]="error"></app-error>
                }

            </form>

        </div>

    </div>

    <div>

        <div class="date-picker card">
            <h2>{{item.title}}</h2>
            <hr>

            <app-date-picker (dateSelected)="setDate($event)"></app-date-picker>
        </div>

    </div>

   

</div>