.date-picker {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hour-starting-bid {
    display: grid;
    row-gap: 1rem;
    text-align: center;
    padding: 1rem;
}

.hour-picker {
    align-items: center;
    justify-content: center;
}

p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

input {
    max-width: 10rem;
}