.left-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description {
    padding: 1rem;
}

.info button {
    background-color: var(--theme-color);
    border-radius: 4px;
    width: 100%;
}

.slider {
    padding: 1rem;
}