<div class="bidder-grid">
    <div class="left-column">
        <div class="slider card">
            <app-carousel [images]="auction.ItemModel.ImageModels"></app-carousel>
        </div>
        <div class="description card">
            <h2>Description</h2>
            <p>{{auction.ItemModel.description}}</p>
        </div>
    </div>

    <div class="right-column">
        <div class="info card">
        <h2>{{auction.ItemModel.title}}</h2>
        <p>{{auction.start.toLocaleString()}}</p>
        @if (auction.status === upcoming) {
            <hr>
            <app-start-countdown [start]="auction.start" (countDownFinished)="changeToStarted()"></app-start-countdown>
            <hr>
        }
        @if (auction.status === started) {
            <hr>
            <app-end-countdown [start]="auction.start" (countDownFinished)="changeToDone()"></app-end-countdown>
            <hr>
        }
        @if(auction.status === done){
            <hr>
            <h2>Finished</h2>
            <hr>
        }
        <p>Starting bid: {{auction.startingBid}}</p>
        @if(auction.status === started) {
            <button (click)="enterAuction()">Enter</button>
        }
        @else if(auction.lastBid) {
            <p>Last bid: {{ auction.lastBid }}</p>
        }
    </div>

    </div>

</div>