@if (this.token) {
    <div class="profile-switch">
        <div (click)="setView(store)" [ngStyle]="{'border-bottom': view === store ? 'solid var(--theme-color)': ''}">
            Store
        </div>

        <div (click)="setView(schedules)" [ngStyle]="{'border-bottom': view === schedules ? 'solid var(--theme-color)': ''}">
            Schedules
        </div>

        <div (click)="setView(wins)" [ngStyle]="{'border-bottom': view === wins ? 'solid var(--theme-color)': ''}">
            Wins
        </div>

    </div>
    
    @switch (view) {
        @case (store) {
            <app-store></app-store>
        }
        @case (schedules) {
            <app-auction-query [ownerId]="token.userId"></app-auction-query>
        }
        @case (wins) {
            <app-auction-query [winnerId]="token.userId"></app-auction-query>
        }
    }
}