.bid-container {
    display: grid;
    gap: 16px;
}
.bid {
    gap: 16px;
    text-align: center;
    display: grid;
    align-items: center;
}
form{
    display: grid;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}
input {
    margin: 0;
    padding: 0;
}

@container (width > 400px) {
    .bid{
        grid-template-columns: 1fr 1fr;
    }
}