<div class="bidding-page">

@if (auctionBid$ | async; as auctionBid) {
    <div class="bidding-container">

        @if(item){
        <div class="slider-container">
            <app-carousel [images]="item.ImageModels"></app-carousel>
        </div>
        }

        @if (!auctionBid.isFinal) {
            <app-auction-bidding-form [askingBid]="auctionBid.askValue" (bid)="bid($event)"></app-auction-bidding-form>
        } @else(){
            <h1>Auction is over</h1>
            @if (auctionBid.bidder) {
                <h2>Highest offer: {{auctionBid.reachedValue}} by {{auctionBid.bidder.username}}</h2>
                <p>The seller can reject or accept</p>
            }
        }

    </div>
} @else if (error) {
    <app-error [error]="error"></app-error>
}

</div>
