:root {
    --theme-color: rgba(17, 80, 197);
    --card-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

button {
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 1rem;
}