:root {
    --theme-color: rgba(17, 80, 197);
    --card-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--theme-color);
}

input, textarea {
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
    width: 100%;
}

.input-form {
    overflow: hidden;
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    box-shadow: var(--card-shadow);
}

.model-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.model-card {
    cursor: pointer;
    height: 15rem;
    box-shadow: var(--card-shadow);
    overflow: hidden;
}
.model-card .img-wrapper {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.model-card .text-wrapper {
    height: 40%;
}

.model-card img{
    max-width: 100%;
    max-height: 100%;
    transition: transform .5s ease;
    object-fit: cover;
}
.model-card p {
    margin: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.model-card .bold {
    font-weight: bold;
}
.model-card:hover p {
    color: rgb(170, 169, 172);
}
a {
    cursor: pointer;
}
.bidder-grid {
    display: grid;
    grid-template-columns: 64% 36%;
    gap: 15px;
    padding-right: 15px;
    max-width: 1000px;
    margin: auto;
}

.card {
    box-shadow: 0px 0px 3px 0px rgba(128, 127, 127, 0.5);

}

@media screen and (max-width: 760px) {
    .bidder-grid {
        grid-template-columns: 1fr;
        padding: 0;
    }
}

h2 {
    font-size: clamp(16px, 3cqi, 20px);
}